body{
    font-family: arial;
    font-size:15px;
    font-weight:80px;
    background-color:transparent;
}

a:link 
{
    text-decoration:none;
    color:rgba(0, 0, 0, 0.692);
}

a:hover
{
    text-decoration:underline;
    color:grey;
}

#navbar
{
    background-color:transparent;
    width:100%;
    display:flex;
    align-items: baseline;
    margin:20px;
    
           
}

.navlink
{
    padding:8px;
    
}

.navbutton
{
   padding:8px 10px;
   margin:0 10px 0 5px ;
   font-weight:700;
   color:white;
   background-color:rgb(86, 137, 233);
   border:none;
   border-radius:2px;
}

.navleft
{
    position:absolute;
    left: 13px;
}


.navright
{
   position:absolute;
   right:13px;
}

#searchbar
{ 
    position:absolute;
    top:13%;
    left:50%;
    transform: translate(-50%,0);
    text-align:center;
    
}

#logo
{
padding:25px;
}

#searchbox
{   
    width:550px;
    height:40px;
    padding-left: 40px;
    margin-bottom:25px;
    background:url('https://img.icons8.com/search');
    background-repeat:no-repeat;
    background-position:10px 50%;
    background-size: 15px;
    border:line;
    border:solid 1px  rgba(0, 0, 0, 0.226);
    border-radius:20px;
    font-size:15px;
    
}

#searchbox:focus
{
    outline: none !important;
   box-shadow: 0 0 7px rgba(0, 0, 0, 0.226);
}

#searchbutton
{
    padding:10px;
    margin:5px;
    background: rgba(0, 0, 0, 0.075);
    border:none;
    border-radius:2px;
    font-size: 12px;
}

#footer
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display:flex;
    align-items: baseline;
    padding:12px 0;
    background-color: rgb(241, 241, 241);
    height:15px;
    color:grey;
    
}

#footleft
{   background-color:transparent;
    position:absolute;
    left:23px;
    
}

#footright
{   background-color:transparent;
   position:absolute;
   right: 23px;
    
}